/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

.container-fluid {
  padding: 0;
}

.pan-sep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

a {
  color: black;
}

h2, h3, h4 {
  font-family: 'Skaudus';
}

body {
  color: black;
}

@font-face {
  font-family: 'outward-block';
  src: url("../../assets/fonts/outward-block-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.hide-on-mobile {
  display: none;
}

.hide-on-desktop {
  display: block;
}

.logo-desktop {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-mobile {
    display: block;
  }
  .logo-mobile {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
  .hide-on-desktop {
    display: none;
  }
}

.content_fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.content_fixed-mob {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: ease-in 3s;
  transition: ease-in 3s;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.logo-mobile {
  width: 100%;
}

.logo-desktop {
  width: 100%;
}

h2 {
  font-size: 50px;
}

.image-overlap__container {
  margin-top: 60px;
}

.frst-v {
  width: 75%;
}

.first-v-right {
  margin-left: 20%;
  margin-top: -90px;
}

.img-big {
  width: 100%;
}

.scnd-overlap::after {
  content: '';
  display: table;
  clear: both;
}

.scnd-overlap {
  margin: 40px 25px;
}

.scnd-v-left {
  width: 38%;
  float: left;
}

.scnd-overlap__img-left {
  z-index: 10;
  position: relative;
}

.scnd-overlap__img {
  z-index: -1;
}

.scnd-v-right {
  width: 55%;
  float: right;
  margin-right: 100px;
  margin-top: -130px;
}
/*# sourceMappingURL=style.css.map */