.content_fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.content_fixed-mob {
    position: fixed;
    top: 0;
    width: 100%;
    // animation: showMenu 3s 1;
    // animation-delay: 5s;
    transition: ease-in 3s;
}

// @keyframes showMenu{
//     0%   {opacity: 0;}
//     25%  {opacity: 0;}
//     50%  {opacity:1}
//     100% {opacity:1}

// }

#mainNav {
    z-index: 100;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    z-index: 100;

    li {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;

        a {
            text-decoration: none;
        }

    }
}

@media (min-width: 768px) { 
  .main-nav{
      li{
        font-size: 25px;
        line-height: 25px;
      }
  }
    
 }

 @media (min-width: 992px) { 
    .main-nav{
        li{
          font-size: 30px;
          line-height: 30px;
        }
    }
      
   }