


// -------------MEDIA QUERIES--------------
// Medium devices (tablets, 768px and up)
.hide-on-mobile{
    display: none;
}
.hide-on-desktop{
    display: block;
}
.logo-desktop{
    display: none;
}

.img-desktop{
    display: none;
}

.container{
    width: 90% !important;
    max-width: 1800px;
}

@media (min-width: 768px) {
.img-mobile{
    display: none;
}
.img-desktop{
    display: block;
}

.logo-mobile{
    display: none;
}
.logo-desktop{
    display: block;
}
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .hide-on-mobile{
        display: block;
    }
   
    .hide-on-desktop{
        display: none;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }


