


// -------------MEDIA QUERIES--------------
// Medium devices (tablets, 768px and up)
.hide-on-mobile{
    display: none;
}
.hide-on-desktop{
    display: block;
}
.logo-desktop{
    display: none;
}
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .hide-on-mobile{
        display: block;
    }
    .logo-mobile{
        display: none;
    }
    .logo-desktop{
        display: block;
    }
    .hide-on-desktop{
        display: none;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }


