.fh{
    width: 100%
}

// footer{
//     position: fixed;
//     bottom: 0;
// }

// .footer__pages
// {
//     position: fixed;
//     bottom: -3px;
//     width: 100%;
// }
.content{
    height: 72vh;
    // max-height: 500px;
    // background-color: red;
    margin: 25px 0; 
    .swiper-container{
    
        width: 100%;
        max-height: 80vh;
        background-color: green;
        .swiper-wrapper{
            position: relative;
            .swiper-slide{
               background-size: cover;
               background-position: center;
            
    
                // img{
                //     // height: 100%;
                //     min-width: 100%;
                //     object-fit: cover;
                // }
            }
        }
    }
}

@media (min-width: 768px) {
    .content{
        height: 80vh;
    }
}

@media (min-width: 992px) {
.content{
    height: 90vh;
}
    // .footer__pages
    // {
    //     position: unset;
    //     bottom: -3px;
    //     width: 100%;
    // }

}
.header__pages{
    position: relative;
    top: 0;
}

.arrow{
    position: fixed;
    margin: 10px;
    z-index: 10;
    width: fit-content;
    top: 95px;
    a{
  
        text-decoration: none;
        padding: 10px;
        display: inline-block;
    }
    // a:hover{
    //     font-size: 20px;
      
    // }
}

@media (min-width: 768px) {
    .arrow{
        top: 0;
    }
}
.content{
    position: relative;
}

