.logo-mobile {
    width: 100%;

}

.mobile-header {
    margin: 15px 0;
}

.logo-desktop {
    width: 100%;
}

// arrow 
#arrowDown {
    font-size: 54px;
    text-align: right;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: block;
}
#arrowTop {
    font-size: 54px;
    text-align: right;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    
}
// hero 
.hero{
    margin-top: 15px;
}

// first overlap mobile 
.image-overlap__container {
    margin-top: 60px
}

.frst-v {
    width: 75%;
}

.first-v-right {
    margin-left: 20%;
    margin-top: -90px;
}

.img-big {
    width: 100%;
}

@media (min-width: 768px) {
    .image-overlap__container {
        display: flex;
        margin: 50px auto;
        justify-content: center;
    }

    .frst-v {
        width: 45%;
        height: 100%;
    }

  

    .first-v-right {
        height: 100%;
        margin-left: -120px;
        margin-top: 100px;
    }

    // big img to container 
    .img-big {
        width: 55%;
    }

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    // big img to container 

    .frst-v {
        width: 35%;
        height: 100%;
    }

    .img-big {
        width: 63%;
        max-width: 950px;
    }
}

// second overlap mobile

.scnd-overlap::after {
    content: '';
    display: table;
    clear: both;

}

.scnd-overlap {
    margin: 40px auto 25px auto;
}

.scnd-v-left {
    width: 38%;
    float: left;

}

.scnd-overlap__img-left {
    z-index: 10;
    position: relative;
}

.scnd-overlap__img {
    z-index: -1;
}

.scnd-v-right {
    width: 55%;
    float: right;
    margin-right: 100px;
    margin-top: -130px;
}

@media (min-width: 768px) {

    .scnd-overlap-big {
        display: flex;
        justify-content: flex-end;
    }

    .scnd-v-left {
        width: 53%;
        margin-top: -55%;
        z-index: 3;
    }

    .scnd-v-right {
        width: 52%;
        margin-right: 120px;
        z-index: 5
    }

    .scnd-overlap__img {
        position: relative;
        z-index: 20
    }

    // .scnd-overlap::after {
    //     display: none;
    // }

    .scnd-overlap__max {
        float: left;
        z-index: 19;
        margin-top: -50px;
        position: relative;
        width: 100%;
    }



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .scnd-v-left {
        width: 53%;
        margin-top: -66%;
        z-index: 3;
    }

    .scnd-v-right {
        width: 52%;
        margin-right: 120px;
        z-index: 5;
        margin-top: -80px;
    }

 

    .scnd-overlap__img {
        position: relative;
        z-index: 20
    }


    .scnd-overlap__max {
        float: left;
        z-index: 19;
        margin-top: -45px;
        position: relative;
        width: 100%;
    }
}
@media (min-width: 1400px) {
    .scnd-overlap__max {
      
        margin-top: -130px;
      
    }

}


//

.img-small {
    width: 55%;

}

.v-big {
    margin-top: -220px;
    margin-left: 38%;
}


.thrd-v-right {
    margin-left: 38%;
}

.thrd-v-left {
    margin-top: -65px;
    margin-left: 35px;

}

@media (min-width: 768px) {
    .thrd-max {
        float: right;
        margin-top: -20%;
    }

    .v-max {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .v-big {
        width: 45%;
        height: 100%;
        margin: unset;
        margin-right: -13%;
    }

    .v-position {
        margin-top: 7%;
    }
    .thrd-v-left {
        margin-top: -160px;
        margin-left: 5px;
    
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .thrd-v-left {
        margin-top: -28%;
        margin-left: 15px;
    
    }
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 1400px) {
    .thrd-v-left {
        margin-top: -370px;
        margin-left: 20px;
    
    }
}

// quote 

.quote {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    width: fit-content;
    margin: 45px auto;

    h2 {
        width: fit-content;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 22px;

        li {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: .15px;
            text-transform: uppercase;
            margin-right: 30px;
        }
    }
}

.center-img {
    display: flex;
    justify-content: center;
}

.add-pink {
   margin-top: 5%;
}

@media (min-width: 768px) {
    .quote ul li{
        margin-right: 50px;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1.5;
    }

    .quote-brave {
        position: relative;
        z-index: 40;
        margin-top: -67%;
        float: right;
        right: 14%;
        // h2{
        //     font-size: 12rem;
        //     line-height: 11rem;
        // }

    }

    .quote-fresh {
        position: relative;
        margin-top: -50px;
        float: right;
        z-index: 45;
       
        h2{
            width: min-content;
        }
    }

    .add-pink {
        position: relative;
        margin-top: -14%;
        z-index: 45;
        float: right;
    }

    .quote-imagine, .quote-future{
        margin: 100px auto;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .quote ul li{
        margin-right: 90px;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1.5;
    }
    .quote-brave {
        position: relative;
        z-index: 40;
        margin-top: -70%;
        float: right;
        right: 10%;
    }

     .quote-fresh {
        position: relative;
        margin-top: -7%;
        float: right;
        z-index: 45;
        margin-right: 50px;
        h2{
            width: min-content;
        }
    }
    .quote-imagine, .quote-future{
        margin: 150px auto;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1400px) {
    .add-pink {

        margin-top: -20%;

    }
    .quote-imagine, .quote-future{
        margin: 190px auto;
    }

   

}

// footer text 

.mainPage-footer {
    margin: 30px auto;
    text-align: center;

    h4 {
        text-transform: uppercase;
        font-size: 30px;
        line-height: 30px;
        padding: 12px 0;
    }

    p {
        font-size: 20px;
        text-transform: capitalize;
    }

    .menu-footer-container {
        margin-top: 40px;

        ul li {
            padding: 5px 0;
            a{
                text-decoration: none; 
                border-bottom: 1px solid black;
               
            }
            a:hover{
                border-bottom: 1px solid white;
                color: black;
            }
        }
    }
}

@media (min-width: 768px) {

    .mainPage-footer {
        // margin: 70px auto 30px auto;
        // text-align: center;

        // h4 {
        //     text-transform: uppercase;
        //     font-size: 30px;
        //     line-height: 30px;
        //     padding: 12px 0;
        // }

        // p {
        //     font-size: 20px;
        //     text-transform: capitalize;
        // }

        .menu-footer-container {
            margin-top: 40px;

            ul {
                display: flex;
                max-width: 400px;
                margin: 0 auto;
                align-items: center;
                justify-content: space-between;

                li {
                    padding: 5px 0;
                }
            }

        }
    }
}